<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <header>
            <h1>Sew Beautiful</h1>
            <p><%= message %> to our website. This is what we do</p>
      </header>
      <main></main>
      <footer class="footer">
            
      </footer>
      <script src="app.js"></script>
</body>
</html>