@use '../abstracts/index' as *;
    
body {
	
	font-size: clamp(1.4rem, 4.6vw, 1.6rem);
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
}
.headingH1 {
	
}
.headingH2 {
	
}
.headingH3 {
		
}
.headingH4 {
	
}
.body-text {
	
}
.btn {
	
}
.footer {
      
}